POSTGRES_DB=honeypotdb
POSTGRES_USER=honeypot
POSTGRES_PASSWORD=change_this_password

EMAIL_ENABLED=false
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USERNAME=your_sender_email@gmail.com
SMTP_PASSWORD=your_gmail_app_password
EMAIL_FROM=your_sender_email@gmail.com
EMAIL_TO=receiver_email@gmail.com
EMAIL_USE_SSL=true
EMAIL_USE_TLS=false

GRAFANA_ADMIN_PASSWORD=change_this_password
