POSTGRES_DB=honeypotdb
POSTGRES_USER=honeypot
POSTGRES_PASSWORD=change_this_password
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

CENTRAL_API_URL=http://api:8000/events

ALERT_MIN_SEVERITY=Medium
ALERT_NOTIFY_MIN_SEVERITY=High

EMAIL_ENABLED=false
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USERNAME=your_sender_email@gmail.com
SMTP_PASSWORD=your_gmail_app_password
EMAIL_FROM=your_sender_email@gmail.com
EMAIL_TO=receiver_email@gmail.com
EMAIL_USE_SSL=true
EMAIL_USE_TLS=false

FTP_HOST=0.0.0.0
FTP_PORT=2121
FTP_ROOT_DIR=/tmp/enterprise-ftp-root
FTP_UPLOAD_DIR=/tmp/enterprise-ftp-uploads
FTP_PASSIVE_START=30000
FTP_PASSIVE_END=30009
FTP_MAX_UPLOAD_SIZE=5242880

SSH_HOST=0.0.0.0
SSH_PORT=2222
SSH_HOST_KEY_PATH=/app/ssh_host_rsa_key
